.A4{
    margin-left: 30%;
    width: 700px;
    height: 1000px;
text-align: center;
border: 1px solid grey;
box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
padding: 50px;
}


/* .mainDiv{
    display:flex;
} */

.logo{
display: flex;
justify-content: center;
}
.logos{
    width:20px;
    height: 20px;
    align-self: center;
    padding: 10px;
}

.date{
    display: flex;
    justify-content: space-between;
}


.checkBox{
    display: flex;
    justify-content: start;
}


input{
    margin-left: 20px ;
}


.margin_left{
    display: flex;
    justify-content: start;
}

.paddings{
 display: flex;
 flex-direction: column;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}




td{
padding: 40px;
}